@import "../../styles/iconfont.wxss";
.search-components{
  .search-box{
    height: 120rpx;
    padding: 20rpx;
    background-color: #EDEDEC;
    .search-center{
      position: relative;
      height: 80rpx;
      background-color: #fff;
      border-radius: 50rpx;
      .s-icon {
        font-size: 36rpx;
        position: absolute;
        left: 18rpx;
        top: 50%;
        transform: translateY(-50%);
      }
      .s-input{
        position: absolute;
        left: 62rpx;
        top: 50%;
        transform: translateY(-50%);
      }
    }

  }
}